<% layout("/layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
        <h1 class="my-3">Edit Listing</h1>
        <form action="/listings/<%= editListing._id %>?_method=PUT" method="POST" novalidate class="needs-validation">
            <div class="my-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" value="<%= editListing.title %>" class="form-control" required/>
                <div class="invalid-feedback">Please enter a Title</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" placeholder="Enter description" class="form-control" required><%= editListing.description %></textarea>
                <div class="invalid-feedback">Please enter description</div>
            </div> 
            <div class="mb-3">
                <label for="img" class="form-label">Image Link</label>
                <input type="text" name="listing[image][url]" placeholder="Enter image URL/link" value="<%= editListing.image.url %>" class="form-control" >
            </div> 
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input type="number" name="listing[price]" placeholder="Enter price" value="<%= editListing.price %>" class="form-control" required>
                <div class="invalid-feedback">Please enter Price</div>
            </div> 
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" placeholder="Enter location" value="<%= editListing.location %>" class="form-control" required>
                    <div class="invalid-feedback">Enter a location name</div>
                </div> 
                <div class="mb-3 col-md-6">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[country]" placeholder="Enter country" value="<%= editListing.country %>" class="form-control" required>
                    <div class="invalid-feedback">Enter a country name</div>
                </div>
            </div> 
            <button class="add-btn btn btn-dark mb-3" type="submit">Edit</button>
        </form>
    </div>
</div>
</body>